

html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sigmar One', sans-serif;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
}

.sidebar {
  background-color: #4267B2;
}

/* Sidebar content */
.sidebar a {
  font-family: 'Sigmar One', sans-serif;
  font-weight: normal;
  color: #fff;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #4267B2;
  font-family: 'Sigmar One', sans-serif;
}
.page-title,
.post-title {
  margin-top: 0;
}

.highlight-text {
  background-color: #fff4cc;
}

.img-border {
  border: 1px solid #000000;
  border-radius: 7px;
  max-width: 100%;
} 

.sidebar-item h3 {
  font-family: 'Sigmar One', sans-serif;  
  color: #fff;
}

a.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #eb9a8e;
}

a.tooltip .tooltiptext {
  font-size: small;
  visibility: hidden;
  max-width: 200px;
  min-width: 150px;
  background-color: #f1c4bd;
  color: #2f2d2d;
  text-align: left;
  line-height: normal;
  border: 1px solid #666;
  padding: 10px;

  /* Position the tooltip */  
/*  position: absolute; */
position: absolute;
top: -70px;
left: 0px;
z-index: 1; 
}

a.tooltip:hover .tooltiptext {
  visibility: visible;
}

.post-date {
  border-left: 50px solid #4267B2;
  padding-left: 20px;
}

.sidebar {
  color: #ffffff !important;
}

.sidebar h2 {
  color: #ffffff !important;
}

a.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #4267B2;
}

a.tooltip .tooltiptext {
  font-size: small;
  visibility: hidden;
  max-width: 200px;
  min-width: 150px;
  background-color: #a9a1ca;
  color: #2f2d2d;
  text-align: left;
  line-height: normal;
  border: 1px solid #4267B2;
  padding: 10px;

  /* Position the tooltip */  
/*  position: absolute; */
position: absolute;
top: -70px;
left: 0px;
z-index: 1; 
}

a.tooltip:hover .tooltiptext {
  visibility: visible;
}

.highlight-text {
  background-color: #fff4cc;
}

.img-border {
  border: 1px solid #4267B2;
  border-radius: 7px;
  max-width: 100%;
} 

#mc-embedded-subscribe {
  background-color: #ffffff !important; 
  box-shadow: none !important;
  color: #000000 !important;
  font-family: "Open Sans", Helvetica, sans-serif !important;
  border: 1px solid black !important;
  box-shadow: 10px 10px 5px #aaaaaa !important;
  min-height: 50px;
}

.refferal_badge {
  max-width: 75%;
}

#mc_embed_shell {
  width: 90% !important;
}

#mc_embed_signup {
  width: 90% !important;
}

#mc_embed_signup form {
  margin: 0px !important;
}

.ia-button {
  clear: both;
  background-color: #ffffff !important;
  font-family: "Open Sans", Helvetica, sans-serif !important;
  border: 1px solid black !important;
  border-radius: 4px;
  transition: all 0.23s ease-in-out 0s;
  color: #000000 !important;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  height: 32px;
  min-height: 50px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none !important;
  vertical-align: top;
  white-space: nowrap;
  width: fit-content;
  width: -moz-fit-content;
}

.ia-button a:link {
  text-decoration: none !important;  ;
}

.ia-button {
  box-shadow: none !important;
  font-family: "Sigmar One", sans-serif;
}

.content h1, h2, h3, h4, h5, h6 {
  color: #4267B2 !important; 
}

.masthead-title a {
  color: #4267B2 !important;  
}

.masthead-title small {
  color: #FFBF00 !important;  
}